<!DOCTYPE HTML>
<html>
	<head>
	
		<title>J1 Practice</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.formfield{margin-bottom:10px;}
		</style>
	</head>
	<body>
		<p>Cupcake Party <a href="https://www.cemc.uwaterloo.ca/contests/computing/2022/index.html"></a></p>
	<div id="app">
		<div class="formfield">
			<label>Regular box:<label> <input v-model="regular_boxes">
		</div>
		<div class="formfield">
			<label>Small box: <label> <input v-model="small_boxes">
		</div>
		<div id="result">
			<div><label>show details:</label><input type="checkbox" v-model="cupcake_diagnostics"></div>
			<div v-if="cupcake_diagnostics">Total cupcakes: {{cupcake_total}}</div>
			<div v-if="cupcake_diagnostics">{{is_leftover}} are leftover</div>
			<div v-else-if="leftover">{{cupcake_total}}</div>
			<div v-else>no cupcakes available</div>
		</div>
	</div>

	<script>
	var app = new Vue({
		el: '#app',
		data:{
			regular_boxes: null,
			small_boxes: null,
			cupcake_diagnostics: false
		},
		computed:{
			cupcake_total:function(){
				return (this.regular_boxes * 8) + (this.small_boxes * 3) - 28;	
			},
			leftover:function(){
				
				return this.cupcake_total >= 0;	
			}
		}
	});
	
	</script>
	<!--
		v-model will allow you to quickly bind form elements to the data property.
		Make sure to set a default value!
		The Computed property can be used like data, except for values that are calculated from data properties.
		In this example 'treat_total' is computed from data properties, and 'is_happy' is computed from 'treat_total'.
		
		ASYNCHRONOUS LEARNING EXERCISE : J1
		- Find any J1 problem
		- Imagine an interface that allows the user to enter data on the webpage
		- Build using v-model and computed properties!
	
	-->
	</body>
</html>
